.services-section {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.develop {
  position: relative;
}

.develop-fon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.develop-fon__name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
