.logo,
.logo-footer {
  font-family: var(--accent-font-family);
  color: var(--main-logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-footer {
  color: white;
}

.header-page__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
