body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-style: var(--main-font-style);
}

.container {
  width: 1200px;
  height: auto;
  padding: 0 15px;
  margin: 0 auto;
}
